/*navigation bar */

nav {
	background-color:#fff;
	height: 50px;
	width: 1098px;
	border-bottom: 1px solid #e8e8e8;
	min-width: 0;
	padding-bottom: 8px;
	padding top: 7px;
	position: relative;
}

.menu-btn {
	vertical-align: middle;
	display:inline-block;
	
	
}

.upload-btn {
	border-color: #d3d3d3;
    background: #f8f8f8;
    color: #333;
	width: 56px;
    height: 28px;
    border: solid 1px transparent;
    padding: 0 10px;
    outline: 0;
	font-weight: 500;
    font-size: 11px;

    white-space: nowrap;
    word-wrap: normal;
    line-height: normal;
  
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.yt-logo {
	display:inline-block;
	height: 40px;
	margin-left: 15px;
}

input {
	background: transparent;
    
    display: inline-block;
    width: 500px;
    font-size: 16px;
    line-height: 50px
    left: 0;
    margin: 0;
   margin-left: 50px;
    padding: 2px 6px;
    
}

#user{
	height:27px;
	border-radius:50%;
	display:inline-block;
	margin-left: 50px;
}

#bell{
	width:30px;
	display:inline-block;
	margin-left: 150px;
}




.main {
	background-color:#e8e8e8;
	height: 100%;
	margin: 0px;
	position:relative;
}

.video-player {
	width: 640px;
	height: 360px;
	display:block;
	left: 0px;
    top: 0px;
   background-color: black;
	
	margin: 10px;
}

.title {
	height: 151px;
	width: 640px;
	background-color: white;
	margin: 10px;
	position:relative;
	padding-top: 10px;
}

.uploaded {
	height: 96px;
	width: 640px;
	background-color: white;
	margin: 10px;
}

.comments {
	width: 640px;
	height: 3199px;
	background-color:white;
	margin: 10px;
}

.sidebar {
	float:right;
	width: 416px;
	height: 1744px;
	background-color: white;
	margin:10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* video chunk */


/* title chunk */

h1 {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #222;
}

p{
	font-family: Arial, sans-serif;
	
	font-weight: normal;
	color: #222;
}

#views {
	position: absolute;
    width: 100%;
    bottom: 6px;
    line-height: 60px;
    text-align: right;
    font-size: 19px;
    color: #666;
}

.show-more {
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	color: #767676;
	margin-bottom: 10px;
}
.show-more:hover {
	color: black;
}

hr {
	color: #767676;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 12px;
}